$max-width: 1112px; //1200px

$breakpoints: (
  //xs: 347px,
  //sm: 347px,
  md: 347px,
  lg: 831px,
  //xl: 1440px
);

:root {
  --color-first  : #D87C49;
  --color-dark   : #191919;
  --color-border : #464646;
  --color-text   : #898989;
  --color-text-2 : #A9A9A9;
  --color-panel  : #ECECEC;
  --color-white  : #FFFFFF;
  
  --color-first-hover  : #CA642B;
  --color-dark-hover   : #333333;
  --color-panel-hover  : #FAFAFA;
}

:root {
  --h1-font-size    : 1.75rem;        // 28px
  --h2-font-size    : 2.5rem;         // 40px
  --h3-font-size    : 1.75rem;        // 28px
  --h4-font-size    : 1.125rem;       // 18px
  --text-base-font-size    : 1rem;    // 16px
  --text-small-font-size   : .875rem; // 14px
  --text-smaller-font-size : .8125rem;// 13px

  @include from(md) {
    --h1-font-size    : 3rem; 
    --h2-font-size    : 1.75rem;
    --h3-font-size    : 1.5rem;
    --body-font-size  : 1rem;
    --small-font-size : .8rem;
  }

  @include from(lg) {
    --h1-font-size    : 3.75rem;        // 60px
    --h2-font-size    : 2.5rem;         // 40px
    --h3-font-size    : 1.75rem;        // 28px
    --h4-font-size    : 1.125rem;       // 18px
    --text-base-font-size    : 1rem;    // 16px
    --text-small-font-size   : .875rem; // 14px
    --text-smaller-font-size : .8125rem;// 13px
  }
}

:root {
  --header-height: 5.1875rem; //83px

  @include from(md) {
    --header-height: 6rem; //96px
  }

  @include from(lg) {
    --header-height: 6rem; //96px
  }
  
  /* @include from(lg) {
    --header-height: 6rem;
  } */
}

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}
