.main-banner {
  //padding: 2.125rem 0.75rem 0;
  background-color: var(--color-dark);
  text-align: center;
  width: 100%;
  height: 29.5rem;
  position: relative;
  //min-height: 34.6875rem; //calc( 100vh - var(--header-height));
  //min-height: calc( 100vh + var(--header-height));
  //height: 43.125rem;//48rem;
  //margin-top: 6.375rem;

  @include from(md) {
    //max-height: 43.125rem;
    height: 43.125rem;
  }
  @include from(lg) {
    height: 39.5rem;
  }

  &__content {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0.75rem 0 0.75rem;
    padding-top: 6.375rem;
    
    @include from(lg) {
      text-align: left;
    }
  }
  
  &__hero-image {
    position: absolute;
    padding: 2.125rem 0.75rem 0;
    top: 0;
    left: 0;
    //
    width: 100%;
    //height: auto;
    object-fit: scale-down;
    object-position: center;
    opacity: .5;
    background: radial-gradient(50% 50% at 50% 50%, #828282 0%, rgba(205, 205, 205, 0) 100%);

    @include from(lg) {
      position: static;
      order: 2;
    }
  }
}

.main-banner__text {
  display: block;
  color: var(--color-text-2);
  letter-spacing: 0.675em;
  //padding-top: 6.375rem;
}

.main-banner__title {
  //padding: 0 auto;
  color: var(--color-white);
  max-width: 400px;
  margin: 0.75rem auto;
  text-overflow: clip;

  @include from(lg) {
    margin: 0;
  }
  //text-align: center;
  //width: 100%;
}

.main-banner__description {
  margin: 2.5rem auto 1.25rem;
  //margin-bottom: 1.25rem;
  color: var(--color-text-2);
  max-width: 338px;

  @include from(lg) {
    margin: 2.5rem 0;
  }
}

.banner-grid {
  @include from(lg) {
    display               : grid;
    grid-template-columns : repeat(2, 1fr);
    grid-gap              : 2rem;
    grid-auto-flow: column;
  }
}
