.main-menu{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  
  @include from(lg) {
    display: flex;
  }
}

.mn-border {
  box-shadow: 1px 8px 8px #FFF;
  @include from(lg) {
    box-shadow: none;
  }
}

.main-nav {
  //display: none;
  position: fixed;
  height: calc(100vh - var(--header-height));
  width: 80vw;
  background-color: var(--color-dark);
  top: var(--header-height);
  left: -100%; //80vw;
  transition: left .3s;
  z-index: var(--z-fixed);

  @include from(lg) {
    position: static;
    height: auto;
    width: auto;
  }

  &.show {
    left: 0;
  }
}

.main-menu__item {
  padding: 1rem;
}

.main-menu__link {
  display: block;
  text-decoration: none;
  padding: 1.2em 1.1875rem; //1.6em;
  color: var(--color-white);
  letter-spacing: 0.09rem;
  font-weight: bold;
  font-size: var(--text-smaller-font-size);
  white-space: nowrap; // No saltar de linea
}

.main-menu-toggle {
  @include from(lg) {
    display: none;
  }
}
