.main-menu{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  
  @include from(l) {
    display: flex;
  }
}

.main-nav {
  //display: none;
  position: fixed;
  height: calc(100vh - var(--header-height));
  width: 80vw;
  background-color: var(--color-dark);
  top: var(--header-height);
  left: -80vw;
  transition: left .3s;

  @include from(l) {
    position: static;
    height: auto;
    width: auto;
  }

  &.show {
    left: 0;
  }
}

.main-menu__item {
  padding: 1rem;
}

.main-menu__link {
  display: block;
  text-decoration: none;
  padding: 1.2em 1.1875rem; //1.6em;
  color: var(--color-white);
  letter-spacing: 0.09rem;
  font-weight: bold;
  font-size: var(--text-smaller-font-size);
  white-space: nowrap; // No saltar de linea
}

.main-menu-toggle {
  height: 1.625rem;
  width: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include from(l) {
    display: none;
  }
}

.main-shopping {
  height: 1.625rem;
  width: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
